* {
    margin: 0;
}

@font-face {
    font-family: 'Titillium';
    src: url(../fonts/TitilliumWeb-Regular.ttf);
}

@font-face {
    font-family: 'TitilliumBold';
    src: url(../fonts/TitilliumWeb-Bold.ttf);
}

@font-face {
    font-family: "Compass";
    src: url(../fonts/compass.ttf);
}

:root {
    --back-color: #122024;
    --dark-shadow: rgb(21, 25, 26);
    --primary-color: #ebf4f5;
    --highlight-color: #46C2CB;
    --highlight-hover: #55d7e0;
    --gray: #b0b7b9;
    --light-gray: #c2d0d1;
    --bluish-gray: #1e3941;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: var(--back-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--bluish-gray);
    width: 4px;
    border-radius: 3px;
}

/* Scroll is initially disabled during the animation */
html {
    background-color: var(--back-color);
    overflow: hidden;
    font-size: calc(15px + 0.390625vw);
    animation: enablescroll 0s 8s forwards;
    scroll-behavior: smooth;
}

/* Enable Scroll Afer Initial Animation */
@keyframes enablescroll {
    to {
        overflow-y: scroll;
    }
}

main {
    width: 75%;
    margin: auto;
}

a:hover {
    cursor: pointer;
}

.container {
    display: flex;
}

img {
    max-width: 100%;
}

a, a:active, a:visited {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;

}

#contact button {
    padding: .7rem 1.5rem;
    background-color: var(--highlight-color);
    color: var(--back-color);
    font-family: 'TitilliumBold', sans-serif;
    font-size: 1.1rem;
    border-radius: .6rem;
    cursor: pointer;
    transition: background-color .4s ease-in-out;
    border: 0;
    box-shadow: 1px 1px 3px var(--dark-shadow);
}

#contact button:hover {
    background-color: var(--highlight-hover);
}

#contact button a, button a:active {
    color: var(--back-color);
    font-family: 'TitilliumBold', sans-serif;
    font-size: 1.1rem;
    border-radius: .6rem;
}

/* Global Text Styles */

p {
    color: var(--primary-color);
    font-family: 'Titillium','Open Sans', sans-serif;
}

h2 {
    color: var(--primary-color);
    font-family: 'Titillium', 'Open Sans', sans-serif;
    font-size: 1.8rem;
}

/* --Welcome Section */

#welcome-container {
    justify-content: center;
    align-items: center;
}

#welcome-section {
    font-family: monospace;
    position: fixed;
    bottom: 50vh;
    margin: auto;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    animation: fadeout 2.2s 4s forwards cubic-bezier(1, 0.01, 1, 0.99);
}

@keyframes fadeout {
    to {
        opacity: 0;
        display: none;
    }
}

.welcome-message {
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    font-size: 2rem;
    text-align: center;
    position: relative;
}

.typing-bar {
    width: 100%;
    height: 130%;
    position: absolute;
    right: 0;
    background-color: var(--back-color);
    animation: 
    typing 2s 1.2s steps(24) forwards;
}

@keyframes typing {
    to {
        width: 0%;
    }
}

.typing-bar::before {
    content: "";
    position: absolute;
    width: .35rem;
    height: 100%;
    background:var(--primary-color);
    animation:
    blink .85s steps(2, jump-none) infinite;
}

@keyframes blink {
    to {
        background: transparent;
        border-color: transparent;
    }
}

.welcome-message.desktop:after {
    content: '';
    position: absolute;
    top: 1.55rem;
    right: .38rem;
    animation: enlarge 2s 4.5s forwards cubic-bezier(1, 0.01, 1, 0.99);
    max-width: 100vw;
    max-height: 100vh;
    background-color: var(--primary-color);
}

.welcome-message.mobile:after {
    content: '';
    position: absolute;
    top: 1.55rem;
    right: .38rem;
    animation: enlarge 2s 2.8s forwards cubic-bezier(1, 0.01, 1, 0.99);
    max-width: 100vw;
    max-height: 100vh;
    background-color: var(--primary-color);
}

@keyframes enlarge {
    from {
        border-radius: 100%;
        border: .2rem solid var(--primary-color);
    }
    80% {
        background-color: var(--primary-color);
        transform: scale(650);
        border-radius: 100%;
        border: .2rem solid var(--primary-color);
    }

    to {
        background-color: var(--primary-color);
        transform: scale(650);
        border-radius: 100%;
        border: 0;
        display: none;
    }
}

/* Appear Animation */

header, main, footer, main section {
    background-color: var(--back-color);
    animation: fadein 1.8s 6.2s forwards ease-in;
    visibility: hidden;
}

@keyframes fadein {
    from {
        visibility: visible;
        opacity: 0;
    }

    to {
        visibility: visible;
        opacity: 1;
    }
}

/* Header Section */

header {
    background-color: #122024a2;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-family:'Titillium', 'Open Sans', sans-serif;
    color: var(--primary-color);
    padding: .3rem 0;
    font-size: .9rem;
    box-shadow: 0 5px 8px var(--dark-shadow);
    z-index: 5;
    position: fixed;
    backdrop-filter: blur(8px);
}

#logo {
    font-size: 2.2rem;
    padding-left: 1.2rem;
    font-family: 'Compass';
    position: relative;
    bottom: 0.3rem;
    letter-spacing: 2px;
}

#logo::after {
    content: ';';
}

#logo:hover::after {
    content: ";";
    color: transparent;
    height: 90%;
    top: .12em;
    right: .25em;
    position: relative;
    border-right: .22rem solid var(--primary-color);
    animation:
    blink .85s steps(2, jump-none) infinite;
}

header ol {
    font-weight: lighter;
    display: flex;
    list-style: none;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: flex-end;
    max-width: 500px;
    padding-right: 2rem;
    font-size: .9em;
}

header ol li {
    padding-left: 2rem;
    opacity: .9;
}

header ol li span {
    font-family: monospace;
    color: var(--highlight-color);
    cursor: default;
}

header ol li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    opacity: 0;
    background-color: var(--highlight-color);
    transition: opacity 500ms, transform 500ms;
    transform: translate(-100%, 0);
}

header ol li a, header ol li a:visited {
    position: relative;
    color: var(--light-gray);
}

header ol li a:hover::after,
header ol li a:focus::after{
    transform: translate(0, 0);
    opacity: 1;
    transition: all 500ms;
}

/* Mobile Header */

header button {
    background-color: transparent;
    color: transparent;
    padding: 0;
    border: none;
    z-index: 11;
}

header .hamburguer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 4px;
    aspect-ratio: 1 / 1;
    margin-right: 15px;
}

header .hamburguer .horizontal-line {
    height: 3px;
    width: 35px;
    background-color: var(--light-gray);
}

#mobile-nav {
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 40vh;
    position: fixed;
    right: 0;
    top: 0;
    padding-top: 50px;
    background-color: var(--bluish-gray);
    border-radius: 6px;
    font-size: 1.4rem;
}

#mobile-nav ol {
    flex-direction: column;
    line-height: 2;
}

#mobile-nav ol li {
    padding: 0;
}

.hidden {
    display: none;
}

.blur {
    filter: blur(5px);
}

/* Social Media (left) */

#side-social-media {
    position: fixed;
    left: 10px;
    bottom: 0;
    width: 90px;
    max-height: 500px;
    flex-direction: column;
    align-items: center;
    z-index: 5;
}

.social img {
    filter: grayscale(100%);
    max-width: 30px;
    position: relative;
    bottom: 0;
    transition: filter .6s ease-in-out, bottom .3s ease-in-out;
    margin-bottom: 40px;
}

.social img:hover {
    filter: grayscale(0%);
    bottom: 6px;
}

.line {
    width: 1px;
    height: 100px;
    background-color: var(--gray);
}

/* Email (right) */

#side-email {
    position: fixed;
    right: 10px;
    bottom: 0;
    width: 90px;
    height: 500px;
    max-height: 500px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: 5;
}

#side-email a {
    transform: rotate(90deg);
    color: var(--gray);
    position: relative;
    bottom: 110px;
    transition: color .6s ease-in-out, bottom .3s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .85rem;
}

#side-email a:hover {
    bottom: 116px;
    color: var(--highlight-color);
}

@media screen and (max-height: 420px) {
    #side-social-media, #side-email {
        display: none;
    }
}

/* Hero Section */

#hero {
    position: relative;
    font-family:'TitilliumBold', 'Open Sans', sans-serif;
    font-weight: bold;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--primary-color);
    padding: 1rem 1rem 1rem 0;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 9rem;
    background: transparent;
    display: flex;
}

#hero p {
    font-size: clamp(14px, 6vw, 18px);
    color: var(--highlight-color);
    font-weight: 500;
}

#hero h1 {
    font-size: clamp(40px, 8vw, 70px);
    color: var(--light-gray);
}

#hero #name {
    color: var(--primary-color);
}

#hero #web {
    color: var(--highlight-color);
    display: inline-block;
}

#hero #intro, #hero #updated {
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 1rem;
    color: var(--gray);
    max-width: 80%;
}

#hero #updated a {
    color: var(--highlight-color);
    font-family: 'Titillium';
    position: relative;
}

#hero #updated a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    opacity: 0;
    background-color: var(--highlight-color);
    transition: opacity 500ms, transform 500ms;
    transform: translate(-100%, 0);
}

#hero #updated a:hover::after{
    transform: translate(0, 0);
    opacity: 1;
    transition: all 500ms;
}



@media screen and ((min-width: 1108px) or (max-width: 767px)) {
    #hero-break {
        display: none;
    }
}

@media screen and (min-width: 1600px) {
    #hero {
        justify-content: center;
        text-align: center;
    }

    #hero #intro, #hero #updated {
        max-width: 100%;
    }
}

/* Sections global styles */

.section {
    width: 90%;
    margin: 0 auto;
    padding: 15vh 0;
    flex-direction: column;
}

.section-title span {
    display: inline;
    font-size: smaller;
    color: var(--highlight-color);
}

.section-title {
    font-size: clamp(26px, 4.5vw, 32px);
    margin-bottom: 1rem;
}

.section-title::after {
    content: '';
    height: 1px;
    width: 34%;
    position: relative;
    background-color: var(--bluish-gray);
    display: inline-block;
    bottom: 0.2em;
    left: 0.8em;
}

.section p {
    max-width: 70%;
    color: var(--light-gray);
    margin: 1rem 0;
    font-size: .9rem;
}

/* About Me Section */

#about-me .wrapper {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
    justify-items: center;
    align-items: center;
}

#about-me .image-with-border {
    position: relative;
}

#about-me .image-container {
    overflow: hidden;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    max-width: 300px;
    filter: grayscale(100%);
    transition: all .5s;
}

#about-me .image-with-border:after {
    content: '';
    position: absolute;
    width: 100%;
    aspect-ratio: 1 / 1;
    top: 15px;
    left: 15px;
    border: 2px solid var(--highlight-color);
    border-radius: 1rem;
    z-index: -1;
    transition: all .5s;
}

#about-me .image-with-border:hover::after {
    top: 5px;
    left: 5px;
}

#about-me .image-container:hover {
    filter: grayscale(0%);
}

#about-me p {
    max-width: 100%;
}

@media screen and (max-width: 680px) {
    #about-me .wrapper {
        grid-template-columns: 2fr 1fr;
    }

    #about-me .image-with-border {
        max-width: 200px;
    }

    #about-me .image-container {
        filter: none;
    }

    #about-me .image-with-border::after {
        top: 5px;
        left: 5px;
    }
}

@media screen and (max-width: 600px) {
    #about-me .wrapper {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 425px) {
    #about-me .image-with-border {
        max-width: 50vw;
    }
}

/* Skills Section */

#skills {
}

#skills #skills-list {
    flex-direction: row;
    padding-top: 2rem;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skill-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skill-element img {
    max-width: 64px;
    max-height: 64px;
    padding: 32px;
    filter: grayscale(100%) saturate(0%) contrast(50%);
    transition: all .5s ease-in-out;
}

.skill-element img:hover {
    filter: grayscale(0%) saturate(100%) contrast(100%);
    transform: scale(1.2);
}

#github:hover {
    filter: grayscale(0%) saturate(100%) contrast(100%) invert(1);
}

.skill-element span {
    color: var(--light-gray);
    font-family: 'Titillium';
    font-size: 1rem;
}

/* Projects */

/* Contact */

#contact {
    text-align: center;
    align-items: center;
    margin-bottom: 2rem;
}

#contact span {
    color: var(--highlight-color);
    font-family: 'Titillium';
    font-size: smaller;
}

#contact h2 {
    font-size: clamp(40px, 4.8vw, 56px);
    margin-bottom: 1rem;
}

#contact p {
    line-height: 2;
    margin-bottom: 2rem;
}

/* Footer */

footer {
    text-align: center;
    z-index: 4;
    position: relative;
    padding-bottom: 1rem;
    background-color: transparent;
}

footer h4 {
    font-size: .6rem;
    color: var(--gray);
    font-family: 'Titillium', sans-serif;
}

footer h4 a {
    color: var(--highlight-color);
    font-family: 'Titillium', sans-serif;
}

footer a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    opacity: 0;
    background-color: var(--highlight-color);
    transition: opacity 500ms, transform 500ms;
    transform: translate(-100%, 0);
}

footer a:hover::after{
    transform: translate(0, 0);
    opacity: 1;
    transition: all 500ms;
}

#tablet-socials {
    display: none;
    width: 25%;
    margin: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

a {
    position: relative;
}


/* Global Media Queries */

/* Tablet and bigger only */
@media screen and (min-width: 721px) {
    .mobile {
        display: none;
    }
}

/* Tablet and smaller only */

@media screen and (max-width: 768px) {
    #hero #intro {
        max-width: 100%;
    }

    #side-social-media, #side-email {
        display: none;
    }

    #tablet-socials {
        display: flex;
    }

    .skill-element img {
        filter: none;
    }

    #github {
        filter: invert(1);
    }

    #contact p {
        max-width: 90%;
    }
}


/* Mobile only */
@media screen and (max-width: 720px) {
    .desktop {
        display: none;
    }

    main {
        width: 90%;
    }

    #hero {
        padding: 1rem;
    }

    .typing-bar {
        animation:
        typing .6s 1.2s steps(8) forwards;
    }

    #welcome-section {
        animation: 
        fadeout 1.9s 2.8s forwards cubic-bezier(1, 0.01, 1, 0.99); ;
    }

    header, main, footer, main div {
        animation: fadein 1.8s 4.6s forwards ease-in;
    }

    html {
        animation: enablescroll 0s 6.4s forwards;
    }    
}
